<div class="col-xs-offset-2 col-xs-8">
	<h1>NO PAIN NO GAIN へようこそ</h1>

	<h3>日々の体重・トレーニングメニューを記録し、<br>さらなる高みを目指しましょう！</h3>
	
	<p><%= link_to "新規アカウント作成へ", new_user_registration_path, class: "btn btn-primary" %>
	</p>
	<p>すでにアカウントをお持ちの方は</p>
	<p><%= link_to "ログインへ", new_user_registration_path, class: "btn btn-success" %></p>
</p>
</div>